<ion-view title="Pizzeria QR">
  <ion-content class="has-header padding">
    <div class="card">
  <div class="item item-divider">
    Bienvenido a Pizzeria QR!
  </div>
  <div class="item item-text-wrap">
    A través de esta aplicación podrás generar un pedido encapsulado en un código QR, puedes navegar por las distintas opciones en los tabs de la parte inferior.
  </div>
  <div class="item item-divider">
    Le deseamos una agradable velada!
  </div>
</div>

<div class="list card">

  <div class="item item-icon-left">
    <i class="icon ion-home"></i>
    C/ Margarita
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-ios7-telephone"></i>
    666 777 888
  </div>

  <div class="item item-icon-left">
    <i class="icon ion-wifi"></i>
    wifiPizzeria
  </div>

</div>
  </ion-content>
</ion-view>
